<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"-->

<head th:replace="fragments/header::header">

</head>
<body>
<div th th:replace="fragments/header::navbar">
</div>
<div  class="container">
    <div class="alert alert-success">
        <h1>Registered ! Congrats !</h1>
    </div>

</div>
</body>
</html>